<!DOCTYPE html>
<html>
	<head>
		<title>Travel Buddy</title>
		!-- Favicon -->
		<!-- <link rel="shortcut icon" type="image/x-icon" href="styles/images/linda_rae_favicon.png"> -->
		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

		<!-- My CSS -->
		<!-- <link rel="stylesheet" type="text/css" href="styles/main.css">
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet"> -->

	</head>
	<body>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Logo</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="#">About</a></li>
		        <li><a href="#">Log In</a></li>
		      </ul>
		    </div>
	  </nav>
	</body>
</html>